/* //import  rosee from './images/rosee.jpg' */
/* img{
    width: 800px;
    height: 800px;
} */
.design{
    background-color: white;
    background-image: url(./images/sid2.jpg);
    /* width: 1100px; */
    height: 700px;
   /* background-size: cover; */

    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
   background-size: cover;
    /* z-index: 1; */
}
.des{
    font-size: large;
}
/* background-image: url("photographer.jpg"); The image used
background-color: #cccccc; /* Used if the image is unavailable */
/* height: 500px; You must set a specified height */
/* background-position: center; Center the image */
/* background-repeat: no-repeat; Do not repeat the image */
/* background-size: cover; Resize the background image to cover the entire container * */